<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<style>
  table, th, td {
    border:1px solid black;
  }
</style>
  <script src="../../assets/scripts/scripts.js"></script>
</head>
<div *ngIf="changePageArray[0]" class="row">
  <div class="col-lg-12">
    <h1>Java Module</h1>
    <h5><br>Welcome to the Java module!</h5>
    <h5><br>You may start your Java learning journey by clicking the 'NEXT' button, or click any of the chapters below and go from there.</h5>
    <div class="navbar-header col-lg-12">
      <button style="margin-top: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" data-toggle="collapsible" data-target="#sidebar-wrapper" (click)="goChapterTwo()">
        Chapter II
      </button>
      <button style="margin-top: 30px;margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" data-toggle="collapsible" data-target="#sidebar-wrapper">
        Chapter III
      </button>
      <a style="margin-top: 30px" class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
        <i class="fa fa-solid fa-arrow-right"></i></a>
    </div>
  </div>
</div>

<!-- Chapter I Intro -->

<div *ngIf="changePageArray[1]" class="row">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <p style="font-size: 20px">Before we begin there are a few things you must know:<br><br>A Java program is collection of objects that communicate via invoking each other's methods. As a starter let's look at what do class, object, methods, and instance variables mean.</p>
    <p style="font-size: 20px"><span style="font-weight: bold"> Object</span> − Objects have states and behaviors. As an example a car has both states (color, number of tires) and behaviors (accelerate, break). An object is an instance of a class.</p>
    <p style="font-size: 20px"><span style="font-weight: bold">Class</span> - A class can be defined as a template that describes the behavior/state that the object of its type supports.</p>
    <p style="font-size: 20px"><span style="font-weight: bold">Methods</span> - A method refers to a behaviour. A class can contain many methods.</p>
    <p style="font-size: 20px"><span style="font-weight: bold">Instance Variables</span> - Each object has its unique set of instance variables. An object's state is created by the values assigned to these instance variables.<br></p>
    <p style="font-size: 20px">For now this is all that you need to know. All this information might seem like a lot at first, but as you go through the module, all of this information will become easier to digest.</p>
    <p style="font-size: 20px">Now that you are equipped with the basics of Java, we may start with <span style="font-weight: bold">Primitive Data Types</span></p>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<!-- Chapter I documentation I -->

<div *ngIf="changePageArray[2]" class="row">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <h5>Primitive Data Types</h5>
    <br>
    <table style="width: 100%">
      <tr>
        <th style="text-align: center">Data Type</th>
        <th style="text-align: center">Description</th>
        <th style="text-align: center">Default value</th>
        <th style="text-align: center">Possible values</th>
        <th style="text-align: center">Example</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">byte</span></th>
        <th style="text-align: center">Byte data type is used to save space since<br> a byte is four times smaller than an integer.</th>
        <th style="text-align: center">0</th>
        <th style="text-align: center">-128 to 127</th>
        <th style="text-align: center"><span style="color: #198754">byte</span> a = 50;<br> <span style="color: #198754">byte</span> b = -100</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">short</span></th>
        <th style="text-align: center">Short data type can also be used to save memory<br> as byte data type. A short is 2 times smaller than an integer</th>
        <th style="text-align: center">0</th>
        <th style="text-align: center">-32,768 to 32,767</th>
        <th style="text-align: center"><span style="color: #198754">short</span> s = 20000;<br> <span style="color: #198754">short</span> r = -20000</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">int</span></th>
        <th style="text-align: center">Integer is generally used as the default <br>data type for integral values</th>
        <th style="text-align: center">0</th>
        <th style="text-align: center">-2,147,483,648 to 2,147,483,647</th>
        <th style="text-align: center"><span style="color: #198754">int</span> a = 200000;<br> <span style="color: #198754">int</span> b = -200000</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">long</span></th>
        <th style="text-align: center">This type is used when a wider <br>range than int is needed</th>
        <th style="text-align: center">0L</th>
        <th style="text-align: center">-9,223,372,036,854,775,808<br> to<br> 9,223,372,036,854,775,807</th>
        <th style="text-align: center"><span style="color: #198754">long</span> a = 200000L;<br> <span style="color: #198754">long</span> b = -200000L</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">float</span></th>
        <th style="text-align: center">Float is mainly used to save <br>memory in large arrays of floating point numbers</th>
        <th style="text-align: center">0.0f</th>
        <th style="text-align: center">3.40282347 x 10^38<br> to<br> 1.40239846 x 10^(-45)</th>
        <th style="text-align: center"><span style="color: #198754">float</span> f1 = 234.5f</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">double</span></th>
        <th style="text-align: center">This data type is generally used as the <br>default data type for decimal values</th>
        <th style="text-align: center">0.0d</th>
        <th style="text-align: center">1.7976931348623157 x 10^308<br> to<br> 4.9406564584124654 x 10^(-324)</th>
        <th style="text-align: center"><span style="color: #198754">double</span> d1 = 123.4</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">boolean</span></th>
        <th style="text-align: center">This data type is used for simple flags <br>that track true/false conditions</th>
        <th style="text-align: center">false</th>
        <th style="text-align: center">true or false</th>
        <th style="text-align: center"><span style="color: #198754">boolean</span> b = true</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">char</span></th>
        <th style="text-align: center">Char data type is used to store any character</th>
        <th style="text-align: center">0</th>
        <th style="text-align: center">\u0000 (null) to \uffff (invalid) </th>
        <th style="text-align: center"><span style="color: #198754">char</span> letterC = 'C'</th>
      </tr>
    </table>
    <br>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<!-- Chapter I Ex 1 -->

<div *ngIf="changePageArray[3]" class="row">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <h5>Loop Control</h5>
    <h5>Please drag n' drop the solutions into the white rectangles</h5>
    <p style="font-size: 20px">The desired answer is x = 5 <span> <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" (click)="ex('boolean','float','char','int')">
      Start
    </button> </span> </p>
    <p style="font-size: 20px"><span class="exContainer1">&nbsp;&nbsp;&nbsp;</span> x = true<br>
      <span class="exContainer2">&nbsp;&nbsp;&nbsp;</span> y = 34.5f<br>
      <span class="exContainer3">&nbsp;&nbsp;&nbsp;</span> z = 'N'<br>
      <span class="exContainer4">&nbsp;&nbsp;&nbsp;</span> w = 42156</p>
    <div class="navbar-header col-lg-12">
      <p style="margin-right: 10px;"><span class="solContainer">
        <span class="draggable" id="sol9" draggable="true">int</span>
        <span class="draggable" id="sol10" draggable="true">float</span>
        <span class="draggable" id="sol11" draggable="true">char</span>
        <span class="draggable" id="sol12" draggable="true">boolean</span></span>
        <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu try-button" type="button" [disabled]="trySolutionButton" (click)="trySolution(0)">
          Try Solution
        </button>
        <button style="margin-right: 10px; background-color: #006DFE; border-color: #006DFE" class="btn-menu btn btn-success btn-toggle-menu" type="button">
          Hint&nbsp;<i class="fa fa-solid fa-lightbulb-o"></i>
        </button>
        <i *ngIf="login?.progress.levels[0]" style="color: chartreuse; transform: scale(3); padding-left: 20px" class="fa fa-solid fa-check"></i>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()" [disabled]="!login?.progress.levels[0]">Next
          <i class="fa fas-solid fa-arrow-right"></i></button>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
          <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
        </button>
      </p>
    </div>
  </div>
</div>

<!-- Chapter I Documentation Loops -->

<div *ngIf="changePageArray[4]" class="row">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <h5>Loop Control</h5>
    <p style="font-size: 20px">There may be a situation when you need to execute a block of code several number of times. In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on.</p>
    <p style="font-size: 20px">A <span style="font-weight: bold;color: #198754">loop</span> statement allows us to execute a statement or group of statements multiple times. There are three kind of loops in Java.</p>
    <p style="font-size: 20px"><span style="font-weight: bold;color: #198754">for loop</span> - Execute a sequence of statements multiple times and abbreviates the code that manages the loop variable.</p>
    <p>Example: <span style="font-weight: bold;color: #198754">for</span>(starting value; condition; code for each iteration)&#123;<br>\\code to be executed&#125;</p>
    <p style="font-size: 20px"><span style="font-weight: bold;color: #198754">while loop</span> - Repeats a statement or group of statements while a given condition is true. It tests the condition before executing the loop body.</p>
    <p>Example: <span style="font-weight: bold;color: #198754">while</span>(condition)&#123;<br>\\code to be executed&#125;</p>
    <p style="font-size: 20px"><span style="font-weight: bold;color: #198754">do while</span> - Like a while statement, except that it tests the condition at the end of the loop body.</p>
    <p>Example: <span style="font-weight: bold;color: #198754">do</span>&#123;<br>\\code to be executed<br>&#125;<span style="font-weight: bold;color: #198754">while</span>(condition)</p>
    <br>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<!-- Chapter I ex 2 -->

<div *ngIf="changePageArray[5]" class="row">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <h5>Loop Control</h5>
    <h5>Please drag n' drop the solutions into the white rectangles</h5>
    <p style="font-size: 20px">The desired answer is x = 5 <span> <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" (click)="ex(-1,3,null,null)">
      Start
    </button> </span> </p>
    <p style="font-size: 20px">int x = 0<br><span style="font-weight: bold;color: #198754"> for</span>(int i = <span class="exContainer1">&nbsp;&nbsp;&nbsp;</span> ;i <= <span class="exContainer2">&nbsp;&nbsp;&nbsp;</span> ; i++) &#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;x = x + i<br>&#125;</p>
    <div class="navbar-header col-lg-12">
      <p style="margin-right: 10px;"><span class="solContainer">
        <span class="draggable" id="sol1" draggable="true">0</span>
        <span class="draggable" id="sol2" draggable="true">-1</span>
        <span class="draggable" id="sol3" draggable="true">3</span>
        <span class="draggable" id="sol4" draggable="true">5</span></span>
      <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu try-button" type="button" [disabled]="trySolutionButton" (click)="trySolution(1)">
        Try Solution
      </button>
      <button style="margin-right: 10px; background-color: #006DFE; border-color: #006DFE" class="btn-menu btn btn-success btn-toggle-menu" type="button">
        Hint&nbsp;<i class="fa fa-solid fa-lightbulb-o"></i>
      </button>
      <i *ngIf="login?.progress.levels[1]" style="color: chartreuse; transform: scale(3); padding-left: 20px" class="fa fa-solid fa-check"></i>
      <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()" [disabled]="!login?.progress.levels[1]">Next
        <i class="fa fas-solid fa-arrow-right"></i></button>
      <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
        <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
      </button>
      </p>
    </div>
  </div>
</div>

<!-- Chapter I last ex -->

<div *ngIf="changePageArray[6]" class="container-fluid">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <h5>Loop Control</h5>
    <h5>Please drag n' drop the solutions into the white rectangles</h5>
    <p style="font-size: 20px">The desired answer is x = 5 <span> <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" (click)="ex(0,-1,null,null)">
      Start
    </button> </span> </p>
    <p style="font-size: 20px">int x = <span class="exContainer1">&nbsp;&nbsp;&nbsp;</span>;<br>int i = <span class="exContainer2">&nbsp;&nbsp;&nbsp;</span>;<br><span style="font-weight: bold;color: #198754"> while</span>(i <= 3)&#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;x = x + i;<br>&nbsp;&nbsp;&nbsp;&nbsp;i++;<br>&#125;</p>
    <div class="navbar-header col-lg-12">
      <p style="margin-right: 10px;"><span class="solContainer">
        <span class="draggable" id="sol5" draggable="true">0</span>
        <span class="draggable" id="sol6" draggable="true">-1</span>
        <span class="draggable" id="sol7" draggable="true">3</span>
        <span class="draggable" id="sol8" draggable="true">5</span></span>
        <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu try-button" type="button" [disabled]="trySolutionButton" (click)="trySolution(2)">
          Try Solution
        </button>
        <button style="margin-right: 10px; background-color: #006DFE; border-color: #006DFE" class="btn-menu btn btn-success btn-toggle-menu" type="button">
          Hint&nbsp;<i class="fa fa-solid fa-lightbulb-o"></i>
        </button>
        <i *ngIf="login?.progress.levels[2]" style="color: chartreuse; transform: scale(3); padding-left: 20px" class="fa fa-solid fa-check"></i>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()" [disabled]="!login?.progress.levels[2]">Next
          <i class="fa fas-solid fa-arrow-right"></i></button>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
          <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
        </button>
      </p>
    </div>
  </div>
</div>

<!-- Chapter I Ifs -->

<div *ngIf="changePageArray[7]" class="row">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <h5>Decision Making</h5>
    <p style="font-size: 20px">Decision making structures have one or more conditions to be evaluated or tested by the program, along with a statement or statements that are to be executed if the condition is determined to be true, and optionally, other statements to be executed if the condition is determined to be false.</p>
    <table style="width: 100%">
      <tr>
        <th style="text-align: center"><span style="color: #198754">If</span> Statement</th>
        <th style="text-align: center">An if statement consists of a boolean expression followed by one or more statements.</th>
        <th style="text-align: left"><span style="color: #198754">if</span>(statement)&#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;\\code to be execute if true&#125;</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">If...else</span> Statement </th>
        <th style="text-align: center">An if statement can be followed by an optional else statement, which executes when the boolean expression is false.</th>
        <th style="text-align: left"><span style="color: #198754">if</span>(statement)&#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;\\code to be execute if true<br>&#125; <span style="color: #198754">else</span> &#123;<br>&nbsp;&nbsp;&nbsp;&nbsp; \\different code to be executed if false &#125;</th>
      </tr>
      <tr>
        <th style="text-align: center"><span style="color: #198754">Switch</span> Statement</th>
        <th style="text-align: center">A switch statement allows a variable to be tested for equality against a list of values.</th>
        <th style="text-align: left"><span style="color: #198754">switch</span> (variable) &#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;case 1: x = 1; &nbsp;&nbsp;&nbsp;break;<br>&nbsp;&nbsp;&nbsp;&nbsp;case 2: x = 2; &nbsp;&nbsp;&nbsp;break;<br>&nbsp;&nbsp;&nbsp;&nbsp;case 3: x = 3; &nbsp;&nbsp;&nbsp;break;<br>&nbsp;&nbsp;&nbsp;&nbsp;default: x = 0;&#125;</th>
      </tr>
    </table>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<!-- Chapter I Ifs ex -->

<div *ngIf="changePageArray[8]" class="row">
  <div class="col-lg-12">
    <h1>Chapter I</h1>
    <h5>Decision Making</h5>
    <h5>Please drag n' drop the solutions into the white rectangles</h5>
    <p style="font-size: 20px">The desired answer is x = 100 <span> <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" (click)="ex(2,'else',null,null)">
      Start
    </button> </span> </p>
    <p style="font-size: 20px">int x = 1<br><span style="color: #198754">if</span>(x > <span class="exContainer1">&nbsp;&nbsp;&nbsp;</span>)&#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;x = 50;<br>&#125; <span class="exContainer2">&nbsp;&nbsp;&nbsp;</span> &#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;x = 100;<br>&#125;</p>
    <div class="navbar-header col-lg-12">
      <p style="margin-right: 10px;"><span class="solContainer">
        <span class="draggable" id="sol13" draggable="true">0</span>
        <span class="draggable" id="sol14" draggable="true">else</span>
        <span class="draggable" id="sol15" draggable="true">while</span>
        <span class="draggable" id="sol16" draggable="true">2</span></span>
        <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu try-button" type="button" [disabled]="trySolutionButton" (click)="trySolution(3)">
          Try Solution
        </button>
        <button style="margin-right: 10px; background-color: #006DFE; border-color: #006DFE" class="btn-menu btn btn-success btn-toggle-menu" type="button">
          Hint&nbsp;<i class="fa fa-solid fa-lightbulb-o"></i>
        </button>
        <i *ngIf="login?.progress.levels[3]" style="color: chartreuse; transform: scale(3); padding-left: 20px" class="fa fa-solid fa-check"></i>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goChapterTwo()" [disabled]="!login?.progress.levels[3]">Chapter II
          <i class="fa fas-solid fa-arrow-right"></i></button>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
          <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
        </button>
      </p>
    </div>
  </div>
</div>

<!-- Chapter II Intro -->

<div *ngIf="changePageArray[9]" class="row">
  <div class="col-lg-12">
    <h1>Chapter II</h1>
    <p style="font-size: 20px">This is the begging of chapter II. In this chapter you will learn about <span style="font-weight: bold; color: #198754">Strings, Arrays </span>and <span style="font-weight: bold; color: #198754">Methods</span>. All the while using the knowledge gained from chapter I.</p>
    <p style="font-size: 20px">Well without further ado, let's learn <span style="font-weight: bold">Strings</span></p>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<div *ngIf="changePageArray[10]" class="row">
  <div class="col-lg-12">
    <h1>Chapter II</h1>
    <h5>Strings</h5>
    <p style="font-size: 20px"><span style="font-weight: bold; color: #198754">Strings</span> are widely used in Java programming. They are a sequence of characters. In Java programming language, strings are treated as objects.</p>
    <p style="font-size: 20px">The Java platform provides the String class to create and manipulate strings.</p>
    <p style="font-size: 20px">Example: <span style="font-weight: bold; color: #198754">String</span> text = "This is a text example";</p>
    <p style="font-size: 20px">There are a lot of ways you can work with strings, for example (using the <span style="font-weight: bold">text</span> variable):</p>
    <p style="font-size: 20px">.length() is used to get how many characters a string is comprised of: <span style="font-weight: bold; color: #198754">text.length()</span>; Result: 22</p>
    <p style="font-size: 20px">.concat() is used to concatenate another string to the original one: <span style="font-weight: bold; color: #198754">text.concat("cat")</span>; Result: This is a text examplecat</p>
    <p style="font-size: 20px">The same can be achieved with the + operator: <span style="font-weight: bold; color: #198754">text + "cat"</span>; Result: This is a text examplecat</p>
    <p style="font-size: 20px">.equals can be used to see if 2 strings are the same: <span style="font-weight: bold; color: #198754">text.equals("cat")</span>; Result: false</p>
    <p style="font-size: 20px">.toLowerCase or .toUpperCase can be used to transform the string into all lowercase or uppercase respectively: <span style="font-weight: bold; color: #198754">"cat".toUpperCase()</span>; Result: CAT</p>
    <p style="font-size: 20px">And there are many more ways to interact with strings, but for our purposes for now, this will suffice.</p>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<!-- Chapter II ex 1 -->

<div *ngIf="changePageArray[11]" class="row">
  <div class="col-lg-12">
    <h1>Chapter II</h1>
    <h5>Strings</h5>
    <h5>Please drag n' drop the solutions into the white rectangles</h5>
    <p style="font-size: 20px">The desired answer is text = TEXTTEXTTEXTTEXT <span> <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" (click)="ex('text.equals(&quot;text&quot;)','text.concat(&quot;text&quot;)','text.toUpperCase()','text.concat(text)')">
      Start
    </button> </span> </p>
    <p style="font-size: 20px"><span style="color: #198754">String</span> text = "text";<br>if(<span class="exContainer1">&nbsp;&nbsp;&nbsp;</span>)&#123;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;text = <span class="exContainer2">&nbsp;&nbsp;&nbsp;</span>;<br>&nbsp;&nbsp;&nbsp;&nbsp;text = <span class="exContainer3">&nbsp;&nbsp;&nbsp;</span>;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;if(text.equals("TEXTTEXT"))&#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text = <span class="exContainer4">&nbsp;&nbsp;&nbsp;</span>;<br>&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>&#125;</p>
    <div class="navbar-header col-lg-12">
      <p style="margin-right: 10px;"><span class="solContainer">
        <span class="draggable" id="sol17" draggable="true">text.concat(text)</span>
        <span class="draggable" id="sol18" draggable="true">text.concat("text")</span>
        <span class="draggable" id="sol19" draggable="true">text.equals("text")</span>
        <span class="draggable" id="sol20" draggable="true">text.toUpperCase()</span></span>
        <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu try-button" type="button" [disabled]="trySolutionButton" (click)="trySolution(4)">
          Try Solution
        </button>
        <button style="margin-right: 10px; background-color: #006DFE; border-color: #006DFE" class="btn-menu btn btn-success btn-toggle-menu" type="button">
          Hint&nbsp;<i class="fa fa-solid fa-lightbulb-o"></i>
        </button>
        <i *ngIf="login?.progress.levels[4]" style="color: chartreuse; transform: scale(3); padding-left: 20px" class="fa fa-solid fa-check"></i>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()" [disabled]="!login?.progress.levels[4]">Next
          <i class="fa fas-solid fa-arrow-right"></i></button>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
          <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
        </button>
      </p>
    </div>
  </div>
</div>

<div *ngIf="changePageArray[12]" class="row">
  <div class="col-lg-12">
    <h1>Chapter II</h1>
    <h5>Arrays</h5>
    <p style="font-size: 20px">Java provides a data structure, <span style="font-weight: bold; color: #198754">the array</span>, which stores a fixed-size sequential collection of elements of the same type. An array is used to store a collection of data, but it is often more useful to think of an array as a collection of variables of the same type.</p>
    <p style="font-size: 20px">Instead of declaring individual variables, such as number0, number1, ..., and number99, you declare one array variable such as numbers and use numbers[0], numbers[1], and ..., numbers[99] to represent individual variables.</p>
    <h5>Declaring Arrays</h5>
    <p style="font-size: 20px">double[] myList;   // preferred way.<br>or<br>double myList[];   // just like in C/C++, it works, but not the preferred way.</p>
    <h5>Creating Arrays</h5>
    <p style="font-size: 20px">myList = new double[arraySize]</p>
    <h5>All in One</h5>
    <p style="font-size: 20px">double[] myList = new double[arraySize];<br>or<br>double[] myList = &#123;value0, value1, ..., valuek};</p>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<div *ngIf="changePageArray[13]" class="row">
  <div class="col-lg-12">
    <h1>Chapter II</h1>
    <h5>Arrays</h5>
    <p style="font-size: 20px">When processing array elements, we often use either for loop because all of the elements in an array are of the same type and the size of the array is known.</p>
    <p style="font-size: 20px">Here is an example of how to create, initialize, and process arrays:</p>
    <p style="font-size: 20px">double[] myList = &#123;5, 12.5, 3.4, 1.2};<br>for (int i = 0; i < myList.length; i++) &#123;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;System.out.println(myList[i]);<br>}</p>
    <p style="font-size: 20px">Result: 5<br>12.5<br>3.4<br>1.2</p>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()">Next
      <i class="fa fas-solid fa-arrow-right"></i></button>
    <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
      <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
    </button>
  </div>
</div>

<!-- Chapter II ex 2 -->

<div *ngIf="changePageArray[11]" class="row">
  <div class="col-lg-12">
    <h1>Chapter II</h1>
    <h5>Arrays</h5>
    <h5>Please drag n' drop the solutions into the white rectangles</h5>
    <p style="font-size: 20px">The desired answer is text = TEXTTEXTTEXTTEXT <span> <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu" type="button" (click)="ex('text.equals(&quot;text&quot;)','text.concat(&quot;text&quot;)','text.toUpperCase()','text.concat(text)')">
      Start
    </button> </span> </p>
    <p style="font-size: 20px"><span style="color: #198754">String</span> text = "text";<br>if(<span class="exContainer1">&nbsp;&nbsp;&nbsp;</span>)&#123;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;text = <span class="exContainer2">&nbsp;&nbsp;&nbsp;</span>;<br>&nbsp;&nbsp;&nbsp;&nbsp;text = <span class="exContainer3">&nbsp;&nbsp;&nbsp;</span>;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;if(text.equals("TEXTTEXT"))&#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text = <span class="exContainer4">&nbsp;&nbsp;&nbsp;</span>;<br>&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>&#125;</p>
    <div class="navbar-header col-lg-12">
      <p style="margin-right: 10px;"><span class="solContainer">
        <span class="draggable" id="sol21" draggable="true">text.concat(text)</span>
        <span class="draggable" id="sol22" draggable="true">text.concat("text")</span>
        <span class="draggable" id="sol23" draggable="true">text.equals("text")</span>
        <span class="draggable" id="sol24" draggable="true">text.toUpperCase()</span></span>
        <button style="margin-right: 10px; margin-left: 30px" class="btn-menu btn btn-success btn-toggle-menu try-button" type="button" [disabled]="trySolutionButton" (click)="trySolution(4)">
          Try Solution
        </button>
        <button style="margin-right: 10px; background-color: #006DFE; border-color: #006DFE" class="btn-menu btn btn-success btn-toggle-menu" type="button">
          Hint&nbsp;<i class="fa fa-solid fa-lightbulb-o"></i>
        </button>
        <i *ngIf="login?.progress.levels[4]" style="color: chartreuse; transform: scale(3); padding-left: 20px" class="fa fa-solid fa-check"></i>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" type="button" (click)="goForward()" [disabled]="!login?.progress.levels[4]">Next
          <i class="fa fas-solid fa-arrow-right"></i></button>
        <button class="btn-logout btn btn-success btn-toggle-menu pull-right" style="margin-right: 10px" type="button" (click)="goBack()">
          <i style="margin-right: 5px" class="fa fas-solid fa-arrow-left"></i>Go Back
        </button>
      </p>
    </div>
  </div>
</div>

</html>

